* {
    margin: 0;
    padding: 0;  
}
.navbar {
    background: black;
    padding: 20px;
    top: 0;
    width: 100%;
    height: 75px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}
.nav-items {
    padding: 10px 20px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
}
.nav-items :hover {
    color:rgba(196, 59, 177, 0.781)
}
.nav-links {
    color: whitesmoke;
    text-decoration:none;
    font-size: 28pt;
}
.map-header, .trend-header {
    color: whitesmoke;
    font-size: 30pt;
    padding-bottom: 70px;
}
body {
    background-color: black;
    font-family:'Mulish', sans-serif;
    font-size: large;
    font-weight:200
}
.map-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
}
.chart-container {
    margin-top: 200px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
    text-align: center;
}
#line-chart-container {
    width: 65%;
    justify-content: left;
}
#pie-graph-container {
    width: 35%;
    justify-content: right;
}
.trend-charts {
    float: left;
}
svg path {
    fill: white;
    stroke: black;
    stroke-width: .25;
    pointer-events: all;
    content: attr(data-pop);
}
svg path:hover {
    fill: rgba(196, 59, 177, 0.781);
    transition: 0.6s;
    cursor: pointer;
}
